#myiacquaint .container { margin: 0 auto; }

/* Example wrapper */
#myiacquaint .wrap {
    /*position: relative;*/
    /*margin: 3em 0;*/
    width: 210px;
    margin-right: 2px;
    margin-top: 5px;
    text-align: right;
    color: #ababab;
    font-size: 14px;
    float: left;

}
#myiacquaint .wrap h2{
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 13px;
    float: left;
    margin-left: 5px;
    text-transform: capitalize;
    color:#9d9d9d;
    
}
/* Frame */
#myiacquaint .frame {
    /*height: 250px;*/
    /*line-height: 110px;*/
    overflow: hidden;
    width: 175px;
    float: left;
    margin-top:10px;
    margin-left:5px;

}
#myiacquaint .singleslideimg span{
    display: block;
    font-size: 14px;
    color: #7b7878;
    line-height: 34px;
}

#myiacquaint .stage{
    
    font-size: 9px;
    color: #7b7878;
    text-align: center;
    height: 14px;
    line-height: 14px;
    width: 40px;
}
#myiacquaint .singleslideimg{
    min-height: 36px;

}

.smaller_background{
     background-size:35px 35px;
}
#myiacquaint .beginner{
    background-image: url("../img/beginner.png");
    background-repeat: no-repeat;
    background-position:center center;

}
#myiacquaint .beginnernolock{
    background-image: url("../img/beginner_no_lock.png");
    background-repeat: no-repeat;
    background-position:center center;

}
#myiacquaint .expert{
    background-image: url("../img/expert.png");
    background-repeat: no-repeat;
    background-position:center center;
}
#myiacquaint .expertnolock{
    background-image: url("../img/expert_no_lock.png");
    background-repeat: no-repeat;
    background-position:center center;
}
#myiacquaint .enthusiast{
    background-image: url("../img/enthusiast.png");
    background-repeat: no-repeat;
    background-position:center center;
}
#myiacquaint .enthusiastnolock{
    background-image: url("../img/enthusiast_no_lock.png");
    background-repeat: no-repeat;
    background-position:center center;
}
#myiacquaint .master{
    background-image: url("../img/master.png");
    background-repeat: no-repeat;
    background-position:center center;
}
#myiacquaint .masternolock{
    background-image: url("../img/master_no_lock.png");
    background-repeat: no-repeat;
    background-position:center center;
}
#myiacquaint .singleslideimg img{
    display: block;
margin: auto;

}
#myiacquaint .frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#myiacquaint .frame ul li {
    float: left;
    /*width: 227px;*/
    width: 40px;
    /*height: 100%;*/
    height:60px;
    margin: 0 1px 0 0;
    padding: 0;
    /*background: #333;*/
    background: transparent;
    color: #ddd;
    text-align: center;
    cursor: pointer;

}
#myiacquaint .prev,
#myiacquaint .next{
    background-color: transparent;
    border:none;
    margin-top: 14px;
    
}
#myiacquaint .frame ul li span{
    display: block;

}
#myiacquaint .frame ul li.active {
    color: #fff;
    /*background: #a03232;*/

}

/* Scrollbar */
#myiacquaint .scrollbar {

    /*margin: 0 0 1em 0;*/
    margin-top: 10px;
    /*height: 2px;*/
    height: 10px;
    /*background: #ccc;*/
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #cbcaca 0%, #e2e1e1 100%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#cbcaca), color-stop(100%,#e2e1e1), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#cbcaca 0%,#e2e1e1 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#cbcaca 0%,#e2e1e1 100%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#cbcaca 0%,#e2e1e1 100%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#cbcaca 0%,#e2e1e1 100%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 3px;

    border-radius: 3px;
    line-height: 0;
}
#myiacquaint .scrollbar .handle {
    width: 100px;
    height: 100%;
    /*background: #292a33;*/
    background: #60a721;
    cursor: pointer;
    -webkit-border-radius: 3px;

    border-radius: 3px;
}
#myiacquaint .scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* Pages */
#myiacquaint .pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
#myiacquaint .pages li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
#myiacquaint .pages li:hover {
    background: #aaa;
}
#myiacquaint .pages li.active {
    background: #666;
}

/* Controls */
#myiacquaint .controls { margin: 25px 0; text-align: center; }

/* One Item Per Frame example*/
#myiacquaint .oneperframe { height: 300px; line-height: 300px; }
#myiacquaint .oneperframe ul li { width: 1140px; }
#myiacquaint .oneperframe ul li.active { background: #333; }

/* Crazy example */
#myiacquaint .crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
#myiacquaint .crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
#myiacquaint .crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }

/* Effects */
#myiacquaint .effects {
    height: 200px;
    line-height: 200px;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    overflow-y: show;
}
#myiacquaint .effects ul {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#myiacquaint .effects ul li {
    position: relative;
    margin: 0 -20px;
    -webkit-transform: rotateY(60deg) scale(0.9);
    -ms-transform: rotateY(60deg) scale(0.9);
    transform: rotateY(60deg) scale(0.9);
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
}
#myiacquaint .effects ul li.active {
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#myiacquaint .effects ul li.active ~ li {
    -webkit-transform: rotateY(-60deg) scale(0.9);
    -ms-transform: rotateY(-60deg) scale(0.9);
    transform: rotateY(-60deg) scale(0.9);
}





